/* ai_web linear gradient */


[class^="ai_web-"] {
    --default-gradient: linear-gradient(to right,#d93051 0%,#1163ee 100%),linear-gradient(to right,#d93051 0%,#1163ee 100%);
    --default-gradient-transp: linear-gradient(to right,transparent 0%, transparent 50%, #d93051 50%,#1163ee 100%),linear-gradient(to right,transparent 0%, transparent 50%, #d93051 50%,#1163ee 100%);
}

.ai_web-std-io-text-wrapper {
    height:48px;
    width:100%;
    display:inline-block;
    box-sizing:border-box;
    position:relative;
    padding:12px 6px 6px 6px;
    font-size:0;
    margin:6px 0;
    vertical-align:top;
}

.ai_web-std-io-text-wrapper::before,
.ai_web-std-io-text-wrapper::after {
    content:"";
    height:2px;
    width:calc(100% - 12px);
    display:block;
    position:absolute;
    bottom:4px;
    left:6px;
    background:rgba(0,0,0, 0.2);
}
.ai_web-std-io-text-wrapper::after {
    background:var(--default-gradient);
    transform:scaleX(0);
    transition:transform 0.5s ease;
}
.ai_web-std-io-text-wrapper.focus::after {
    transform:scaleX(1);
    transition:transform 0.4s ease;
}

.ai_web-std-io-text-label {
    height:30px;
    width:calc(100% - 12px);
    display:inline-block;
    box-sizing:border-box;
    padding:0 2px;
    margin:0;
    font:bold 12px/30px "Roboto", sans-serif;
    text-transform:uppercase;
    position:absolute;
    top:calc(100% - 36px);
    left:6px;
    transition:top 0.4s ease, height 0.3s ease 0.1s, font 0.3s ease 0.1s, background-position 0.5s ease-in;
    color:transparent;
    background-color:rgba(0,0,0, 0.4);
    background-image:var(--default-gradient-transp);
    background-size:200% 200%;
    background-position:0% 0%;
    -webkit-background-clip:text;
    background-clip:text;
}

.ai_web-std-io-text-wrapper.focus .ai_web-std-io-text-label,
.ai_web-std-io-text-wrapper.full .ai_web-std-io-text-label {
    height:12px;
    font:bold 10px/12px "Roboto", sans-serif;
    top:0px;
    left:6px;
    transition:top 0.4s ease, height 0.3s ease 0s, font 0.3s ease 0s, background-position 0.3s ease;
}
.ai_web-std-io-text-wrapper.full .ai_web-std-io-text-label {
    /*color:rgba(0,0,0, 0.6);
    background:none;*/
    background-position:0% 0%;
}
.ai_web-std-io-text-wrapper.focus .ai_web-std-io-text-label {
    background-position:100% 0%;
}

.ai_web-std-io-text-input {
    height:30px;
    width:100%;
    display:inline-block;
    box-sizing:border-box;
    padding:0 2px;
    margin:0;
    outline:none;
    border:none;
    background-color:transparent;
    color:black;
    font:normal 14px/30px "Roboto", sans-serif;
}
